.admission{
padding:100px 0;
background:#0B3B6E;
}

.admission-box{
text-align:center;
color:white;
}

.admission-box h2{
font-size:48px;
margin-bottom:20px;
}

.admission-box p{
max-width:700px;
margin:auto;
line-height:1.8;
margin-bottom:35px;
}

.admission-box button{
background:#D4AF37;
color:black;
font-weight:600;
}

@media(max-width:768px){

.admission{
padding:70px 0;
}

.admission-box h2{
font-size:34px;
}

}

@media(max-width:480px){

.admission-box h2{
font-size:26px;
}

.admission-box p{
font-size:15px;
}

}