.hero{
height:100vh;
background-size:cover;
background-position:center;
display:flex;
align-items:center;
position:relative;
}

.overlay{
position:absolute;
inset:0;
background:rgba(0,0,0,.55);
}

.hero-content{
position:relative;
color:white;
z-index:2;
max-width:700px;
}

.hero h4{
font-size:22px;
margin-bottom:15px;
font-weight:400;
}

.hero h1{
font-size:68px;
line-height:1.1;
margin-bottom:25px;
}

.hero p{
font-size:20px;
line-height:1.7;
margin-bottom:35px;
}

.hero-buttons{
display:flex;
gap:20px;
}

.secondary{
background:white;
color:#0B3B6E;
}

.secondary:hover{
background:#D4AF37;
color:black;
}

@media(max-width:768px){

.hero-content{
max-width:100%;
}

.hero h1{
font-size:42px;
}

.hero p{
font-size:17px;
}

.hero-buttons{
flex-direction:column;
}

}

@media(max-width:480px){

.hero h4{
font-size:18px;
}

.hero h1{
font-size:32px;
}

.hero p{
font-size:15px;
margin-bottom:25px;
}

.hero-buttons{
gap:14px;
}

.hero-buttons button{
width:100%;
text-align:center;
}

}