.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 18px 0;
    background: transparent;
    transition: all 0.35s ease;
    z-index: 1000;
}

.navbar.scrolled{
    background: rgba(255,255,255,0.95);
    backdrop-filter: blur(12px);
    box-shadow: 0 8px 30px rgba(0,0,0,0.08);
    padding: 12px 0;
}

.nav-container{
height:85px;
display:flex;
align-items:center;
justify-content:space-between;
}

.logo{
display:flex;
align-items:center;
gap:15px;
}

.logo img{
width:55px;
}

.logo h2{
color:#0B3B6E;
font-size:22px;
}

.logo span{
color:#64748b;
}

nav{
display:flex;
gap:35px;
}

nav a{
text-decoration:none;
color:#1e293b;
font-weight:500;
transition:.3s;
}

nav a:hover{
color:#0B3B6E;
}

button{
padding:13px 28px;
border:none;
border-radius:40px;
background:#0B3B6E;
color:white;
font-weight:600;
cursor:pointer;
transition:.3s;
}

button:hover{
background:#D4AF37;
color:black;
}

.menu-icon{
display:none;
font-size:28px;
}

@media(max-width:900px){

nav,
button{
display:none;
}

.menu-icon{
display:block;
}

}